/* Variables */
:root{
    --primary-color: #0A1128;
    --secondary-color: #808080;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --crimson: crimson;
    --gap: 4rem;
}

/* Elements */
* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin-bottom: 3rem;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

table{
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th{
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}
tfoot td{
    text-align: center;
    font-weight: bold;
}

tfoot td,
thead th{
    background: var(--light-gray-color);
}


/* Classes */
.main-bg {
    background: url(../img/main-bg.svg);
    color: var(--white-color);
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.menu {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 120rem;
}

.menu h1 {
    font-size: 3rem;
    padding: 1rem;
}

.menu h1 a{
    color: var(--primary-color);
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul a{
    padding: 2rem;
    font-size: 1.8rem;
    display: block;
    color: var(--primary-color);
}

.footer{
    text-align: center;
    padding: 3rem;
}

.footer a{
    color: inherit;
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    text-align: left;
    align-items: center;
    min-height: 100vh;
}

.img-content{
    margin: auto;
}

.img-content img{
    max-width: 100%;
}

.text-content{
    max-width: 64rem;
}

.grid-content{
    flex-flow: column wrap;
    text-align: left;
    counter-reset: grid-counter;
}

.grid-heading{
    margin-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    padding-left: 4rem;
    position: relative;
    padding-bottom: 2rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    top: -3.5rem;
    left: -2rem;
    transform: rotate(5deg);
}

.responsive-table{
    overflow: hidden;
    overflow-x: auto;
}

.gallery-grid{
    max-width: 80rem;
}

.gallery-img{
    max-width: 24rem;
    max-height: 24rem;
    overflow: hidden;
    border-radius: 30%;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover{
    transform: translate(-3%, -3%) scale(1.2) rotate(5deg);
}

@media (max-width: 62rem){

    .grid,
    .page-content{
        grid-template-columns: 1fr;
    }
    
    .gallery-grid{
        align-items: center;
    }
}
